/*

576px: sm
768px: md
992px: lg
1200px: xl
1400px: > xxl 

*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #000; }

img {
  max-width: 100%;
  height: auto; }

.Heading {
  color: #44D62C;
  font-family: Audiowide, Arial, sans-serif; }
  .Heading--two {
    margin-bottom: 32px;
    font-size: 3rem; }
    @media only screen and (min-width: 992px) {
      .Heading--two {
        font-size: 3.6rem; } }
  .Heading--three {
    margin-bottom: 16px;
    font-size: 2.4rem; }
    @media only screen and (min-width: 992px) {
      .Heading--three {
        font-size: 2.4rem; } }

.Paragraph {
  margin-bottom: 48px;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }
  @media only screen and (min-width: 992px) {
    .Paragraph {
      font-size: 1.8rem;
      margin-bottom: 64px; } }

.Button {
  padding: 12px 32px;
  border-radius: 50px;
  background: #44D62C;
  color: #fff;
  font-size: 1.6rem;
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s; }
  .Button:hover {
    background-color: #fff;
    color: #44D62C; }

.TextBlock {
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }

.Container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px; }
  @media only screen and (min-width: 576px) {
    .Container {
      max-width: 540px; } }
  @media only screen and (min-width: 768px) {
    .Container {
      max-width: 720px; } }
  @media only screen and (min-width: 992px) {
    .Container {
      max-width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .Container {
      max-width: 1140px; } }
  @media only screen and (min-width: 1400px) {
    .Container {
      max-width: 1320px; } }

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 0; }
  @media only screen and (min-width: 768px) {
    .Header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .Header__logo {
    width: 40px;
    margin-bottom: 16px; }
  .Header__nav {
    text-align: center; }
  .Header__nav-item {
    margin: 0 16px;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    -webkit-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s; }
    .Header__nav-item:hover {
      color: #44D62C; }
    @media only screen and (min-width: 768px) {
      .Header__nav-item {
        margin-right: 0;
        margin-left: 48px; } }
  @media only screen and (min-width: 768px) {
    .Header__nav-item--cta {
      padding: 12px 32px;
      border-radius: 50px;
      background: #44D62C;
      -webkit-transition: ease-in-out 0.2s;
      -o-transition: ease-in-out 0.2s;
      transition: ease-in-out 0.2s; } }
  @media only screen and (min-width: 768px) {
    .Header__nav-item--cta:hover {
      background-color: #fff !important; } }

.Section {
  padding-bottom: 32px;
  padding-top: 32px; }
  @media only screen and (min-width: 768px) {
    .Section {
      padding-bottom: 64px;
      padding-top: 64px; } }

.Hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media only screen and (min-width: 992px) {
    .Hero {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .Hero__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 48px;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .Hero__text-wrapper {
        position: relative;
        top: -50px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        margin-bottom: 0;
        text-align: left; } }
  .Hero__title {
    margin-bottom: 12px;
    color: #fff;
    font-family: Audiowide ,Arial, sans-serif;
    font-size: 6rem;
    line-height: 1; }
    @media only screen and (min-width: 992px) {
      .Hero__title {
        margin-bottom: 24px;
        font-size: 8rem; } }
    @media only screen and (min-width: 1200px) {
      .Hero__title {
        font-size: 9rem; } }
  .Hero__subtitle {
    margin-bottom: 32px;
    color: #44D62C;
    font-size: 3rem;
    font-family: Audiowide ,Arial, sans-serif; }
    @media only screen and (min-width: 992px) {
      .Hero__subtitle {
        font-size: 3.6rem; } }
    @media only screen and (min-width: 1200px) {
      .Hero__subtitle {
        margin-bottom: 68px; } }
  @media only screen and (min-width: 992px) {
    .Hero__image-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%; } }

.VideoSection__video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  height: 0; }

.VideoSection__video {
  position: absolute;
  height: 100%;
  width: 100%; }

.FeaturesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .FeaturesSection__text-wrapper {
    margin-bottom: 32px; }

.Feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media only screen and (min-width: 1200px) {
    .Feature {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      width: 100%; } }
  .Feature__image-wrapper {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    max-width: 300px;
    margin-bottom: 96px; }
    @media only screen and (min-width: 1200px) {
      .Feature__image-wrapper {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0; } }
  .Feature__wrapper {
    margin-bottom: 32px; }
    @media only screen and (min-width: 1200px) {
      .Feature__wrapper {
        margin-bottom: 64px; } }
  .Feature__list-item {
    margin-bottom: 0; }

.Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Form__input {
    width: 150px;
    padding: 14px 32px;
    border: none;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: 0; }
    @media only screen and (min-width: 576px) {
      .Form__input {
        width: 300px; } }
    @media only screen and (min-width: 768px) {
      .Form__input {
        width: 400px; } }
  .Form__button {
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer; }
