.Hero {
  display: flex;
  flex-direction: column;
  margin-top: 107px;

  @include respond (lg) {
    flex-direction: row;
    margin-top: 61px;

  }

  &__text-wrapper {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    text-align: center;

      @include respond (lg) {
        position: relative;
        top:-50px;
        align-items: flex-start;
        justify-content: center;
        flex: 1 0 50%;
        margin-bottom: 0;
        text-align: left;
    }
  }

  &__title {
    margin-bottom: 12px;
    color: $color-white;
    font-family: Audiowide ,Arial, sans-serif;
    font-size: 6rem;
    line-height: 1;
    
    @include respond (lg) {
      margin-bottom: 24px;
      font-size: 8rem;
    }
    @include respond (xl) {
      font-size: 9rem;
    }
  }

  &__subtitle {
    margin-bottom: 32px;
    color: $color-green;
    font-size: 3rem;
    font-family: Audiowide ,Arial, sans-serif;

    @include respond (lg) {
      font-size: 3.6rem;
    }
    @include respond (xl) {
      margin-bottom: 68px;
    }
  }


  &__image-wrapper {
    @include respond(lg) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1 0 50%;
    }
  }

}